/.idea/
/off-chain/node_modules/
/off-chain/yarn.lock
/on-chain/nodes-modules/
/on-chain/contracts/artifacts/build-info/
/on-chain/contracts/artifacts/
/on-chain/build/
/off-chain/server/node_modules/
